<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">
            <div class="notes-card">
                <div class="notes-card-title">
                    This is a title
                </div>
                <div class="notes-card-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, corporis. Autem repellat impedit
                    accusamus facilis dolor ut iusto nisi eius cupiditate blanditiis sequi, inventore quos asperiores
                    laudantium eos ab soluta?
                </div>
            </div>
        </div>
    </div>
</div>