<div class="edit-bookmark-wrapper">
    <p *ngIf="!bookmark">Bookmark not found</p>
    <ng-container *ngIf="bookmark">
        <h2 class="isBold">
            {{bookmark.name}}
        </h2>

        <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
            <!--(ngSubmit)="onFormSubmit(form)" ! -->
            <div class="form-field">
                <label class="form-label"> Name</label>
                <input class="textBox" [ngModel]="bookmark.name" #textField="ngModel" name="name" type="text"
                    placeholder="e.g. Wikipedia">
            </div>

            <div class="form-field">
                <label class="form-label">URL</label>
                <input class="textBox" [ngModel]="bookmark.url" #textField="ngModel" name="url" type="url"
                    placeholder="e.g. https://wikipedia.com" required>
            </div>

            <div class="btn-container ">
                <a routerLink="../" class=" btn cancel">Cancel</a>
                <button type="button" class="btn" (click)="delete()"> Delete</button>
                <button type="submit" class="btn align-end"> Save</button>
            </div>

        </form>
    </ng-container>
</div>