.todo-wrapper {
    height: 100%;
    overflow-y: auto;
}

.add-btn i {
    margin-right: 5px;
    margin-left: -3px;

    font-size: 18px;
}

app-todo-item {
    display: block;

    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 20px;

    opacity: 0.6;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ac5f5f, #d38571);
    border-radius: 10px;
    background-clip: padding-box;
    padding: 10px;

}

::-webkit-scrollbar-thumb:hover {
    transition: ease-in-out;
    transition-delay: 2000ms;
    background: rgba($color: #ac5f5f, $alpha: 1);
    backdrop-filter: blur(35px);
}